<% content_for :page_title,  "About" %>
<%# Don't keep your secrets, share them anonymously! %>
<div class="section">
  <div class="container">


 
      <div class="card">
        <div class="card-content">
        
          <div class="media">
            <div class="media-content">

            </div>
          </div>

          <div class="content">

          </div>

        </div>
      </div>


  </div>
</div>